// vars 
$primary-color: var(--primary-color);
$primary-color-medium: var(--primary-color-medium);
$primary-color-light: var(--primary-color-light);

$gray-color: #808285;
$border-gray-color: #F3F3F3;
$light-gray-color: #F3F4F7;
$faded-gray-color: #F5F5F5;
$medium-gray-color: #D9D9D9;
$dark-color: #171412;

$blue-color: #02739F;
$lime-green: #D7F8DD;

$white-color: #fff;
$orange-color: #FFC36B;
$red-color: #FF774D;
// $light-red-color: lighten(#E18067, 24);
$light-red-color: #F5D5CD;
$ligh-yellow-color: #E9DD7F;
$transition: all 0.25s ease;

* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
    box-sizing: border-box;
	margin-top: 0 !important;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	color: $dark-color;
	background-color: $white-color;
	font-size: 16px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
	// fix: font rendering issue 
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
	display: block;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	text-decoration: none;
	background-color: transparent;
	transition: $transition;
}

b,
strong {
	font-weight: bold;
}

img {
	border-style: none;
    max-width: 100%;
    max-height: 100%;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px;
	line-height: 1.4;
	color: $white-color;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	transition: all 0.2s ease-out;
	background-color: var(--primary-color);
	border: 2px solid var(--Green, var(--primary-color));
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

	&:hover,
	&:focus {
		background-color: $white-color;
		color: var(--primary-color);
		text-decoration: none;
	}

	& > svg {
		margin-left: 15px;
	}
}

embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

a {
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: var(--primary-color);
}

a:focus {
	outline: none;
}

a:hover,
a:active {
	outline: 0;
}

.widget {
	margin: 0 0 30px;
}

.widget select {
	max-width: 100%;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

.alignleft {
	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 18px;
	margin-bottom: 6px;
}

.alignright {
	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 18px;
	margin-bottom: 6px;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}


h1,h2,h3,h4,h5,h6 {
	font-family: "Onest", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	line-height: 1.3;
}

.hide, .d-none {
	display: none !important;
}


// admin bar fix
#wpadminbar {
	top: unset !important;
	bottom: 0 !important;
}

body.logged-in {
	padding-bottom: 32px;
}

.site-header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white-color;
}

.footer-separator {
	background-color: rgba(0, 0, 0, 0.15);
	height: 1px;
	margin: 20px 0 32px 0;
}

.footer-menu-wrap {
	ul {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
		flex-wrap: wrap;

		li {
			display: block;

			a {
				font-size: 16px;
				font-weight: 400;
				display: inline-block;
				padding: 4px 14px;
				line-height: 1.4;
				color: $white-color;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.main-menu-wrap {
	& > ul {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;

		& > li {
			display: block;

			& > a {
				font-size: 16px;
				font-weight: 400;
				display: inline-block;
				padding: 31px 18px;
				line-height: 1;
				color: $dark-color;
				position: relative;
				height: 100%;

				&::before {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 0;
					height: 4px;
					border-radius: 24px;
					transition: all 0.2s ease-in-out;
					transform: translateX(-50%);
				}
			}

			&.pll-parent-menu-item {
				& >  a {
					display: flex;
					align-items: center;
				}
			}

			&.menu-item-has-children {
				position: relative;

				& > .sub-menu {
					opacity: 0;
					z-index: -9999;
					visibility: hidden;
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -100px;
					width: max-content;
					min-width: 160px;
					max-width: 330px;
					background-color: $white-color;
					border-radius: 12px;
					padding: 20px 12px;
					border: 1px solid $light-gray-color;
					transition: all 0.3s ease-out;
					box-shadow: rgba(0,0,0, 0.1) 0 0 20px;

					& > li {
						display: block;

						& > a {
							display: block;
							padding: 6px 8px;
							font-size: 16px;
							line-height: 1.3;
						}
					}
				}

				&:hover > .sub-menu {
					opacity: 1;
					z-index: 9;
					visibility: visible;
				}
			}

			&.current-menu-item,
			&:hover {
				a:before {
					width: calc(100% - 12px);
					background-color: $primary-color;
				}
			}

			&:hover > a {
				color: $primary-color;
			}

			&.current-menu-item > a {
				color: $primary-color;
				font-weight: 700;
				border-bottom-color: $primary-color;
			}

			li.lang-item {
				& >  a {
					display: flex !important;
					align-items: center;
				}
			}
	
			li.current-menu-item {
				a {
					color: $primary-color;
					font-weight: 700;
				}
			}
		}
	}
}

.menu-switcher {
	& > div {
		width: 32px;
		height: 20px;
		position: relative;

		& > span {
			display: block;
			width: 100%;
			height: 1px;
			background-color: #171412;
			border-radius: 4px;
			position: absolute;
			transition: $transition;
		}

		& > span:nth-child(1) {
			top: 0;
		}
		& > span:nth-child(2) {
			top: 50%;
			margin-top: -1px;
		}
		& > span:nth-child(3) {
			bottom: 0;
		}
	}

	&.active > div > span:nth-child(1) {
		top: 50%;
		transform: rotate(45deg);
	}
	&.active > div > span:nth-child(2) {
		opacity: 0;
		margin-top: 0;
	}
	&.active > div > span:nth-child(3) {
		bottom: 50%;
		transform: rotate(-45deg);
	}
}

.mobile-menu {
	display: none;
	position: fixed;
	z-index: 99;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	background-color: #fafafa;

	&.active {
		display: block;
	}

	& > div {
		padding: 20px;
	}
}
.mobile-menu-wrap {
	padding-bottom: 30px;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: block;

			a {
				display: inline-block;
				padding: 8px 10px;
				font-size: 18px;
				color: $dark-color;

				&:hover {
					color: $primary-color
				}
			}

			&.current-menu-item a {
				color: $primary-color;
				font-weight: 700;
			}
		}
	}
}

.book-wrap {
	position: relative;
	transition: all 0.3s ease-in-out;

	.home-book-link {
		display: block;
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		a {
			color: $primary-color;
		}

		.home-book-link {
			transform: scale(1.05);
		}
	}
}

.manual-intro-section {
	background-image: url("../images/dots.svg");
	background-repeat: no-repeat;
	background-position: 14% 80%;
}

// .team-section {
// 	padding-top: 72px;
// 	padding-bottom: 72px;

// 	h1 {
// 		font-size: 40px;
// 		text-align: center;
// 	}
// }

.voc {
	a {
		text-align: center;
		flex-grow: 1;

		&.active {
			font-weight: 700;
			color: $primary-color;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			margin-right: -1px;
			width: 2px;
			height: 20px;
			background-color: $medium-gray-color;
			transform: translateY(-50%);
		}	

		&:last-child {
			&:before {
				display: none;
			}
		}
	}
}

.notion-box {
	.notion-icon {
		width: 20px;
		height: 20px;
		position: relative;

		& > span svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			transition: all 0.2s ease-out;
		}
	}

	&.open {
		.plus {
			opacity: 0;
		}

		.minus {
			opacity: 1;
		}

		.notion-title {
			color: $primary-color;
			font-weight: 600;
		}
	}
}

.content-links {
	a {
		color: $primary-color;
		font-weight: 600;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.content-list {
	ul {
		list-style: disc;
		padding-left: 25px;
	}
}

.logo-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100px; /* Adjust height to fit your logos */
}

.logo-strip {
    width: 200%; /* Width should be twice the container width */
    height: 100%;
    background-image: url('../images/logos.svg'); /* Replace with your logos sprite or repeating logos image */
    background-repeat: repeat-x;
    background-size: contain; /* Ensure logos are scaled properly */
    position: absolute;
    top: 0;
    left: 0;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

// helpers
.has-text-align-center {
	text-align: center;
}
.has-text-align-right {
	text-align: right;
}
.has-text-align-left {
	text-align: left;
}

.text-content {
    ul, p, h1, h2, h3, h4, h5 .h6 {
        margin-bottom: 25px;
    }

    ul {
        list-style: disc;
        padding-left: 25px;
    }

    a {
        color: $primary-color;
        font-weight: 700;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

.text-content-spacing {
	p,h1,h2.h3,h4,h5,h6, ul, ol, table, iframe {
		margin-bottom: 25px;
	}

	& > *:first-child {
		margin-top: 0!important;
	}

	& > *:last-child { 
		margin-bottom: 0!important;
	}
}

.step-box {
	position: relative;
	transition: all 0.5s ease-out;

	.decor {
		display: inline-block;
		position: absolute;
		z-index: 3;
		top: 0;
		right: -57px;
	}

	.step-icon {
		transition: all 0.2s ease-out;
	}
}

.step-box {
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 24px;
		transition: all 0.2s ease-out;
	}

	& > * {
		position: relative;
		z-index: 2;
	}
}

.step-box:hover {
	&:before {
		background-color: $primary-color-medium;
	}

	.step-icon {
		background-color: $white-color;
		transform: scale(1.1);
	}
}

.phase-bar {
	background-color: $primary-color-light;
}

.fancybox__backdrop {
	background-color: rgba(0,0,0, 0.3);
}

.image-lightbox {
	.fancybox__backdrop {
		background-color: rgba(0,0,0, 0.9);
	}
}

.content-spacing {
	p, ul, ol, table, iframe, blockquote, video {
		margin-bottom: 20px;
	}

	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 12px;
	} 

	& > *:last-child {
		margin-bottom: 0!important;
	}
}

.text-content-section {
	.full-width-images img[class*="wp-image"] {
		width: 100%;
		border-radius: 16px;
	}

	p:after {
		content: '';
		display: none;
		clear: both;
	}

	.click-words {
		span.focus-span {
			cursor: pointer;
			position: relative;
			display: inline-block;

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				z-index: -1;
				top: 2px;
				left: 0;
				right: 0;
				bottom: 2px;
				background-color: $light-gray-color;
				padding: 0;
				border-radius: 2px;
				opacity: 0;
				line-height: 0;
				transition: all 0.2s ease-out;
			}

			&:hover {
				color: #10823B;

				&:before {
					opacity: 1;
					background-color: $medium-gray-color;
				}
			}

			&.clicked {
				color: #10823B;
				font-weight: 700;

				&::before {
					opacity: 1;
				}
			}
		}
	}
}

.entry-content {
	p:not(.has-text-align-center):not(.has-text-align-right):not(.has-text-align-left) {
		text-align: justify;
	}

	a {
		font-weight: 600;
		color: $primary-color;
		text-decoration: underline;

		&:hover {
			color: $primary-color;
			text-decoration: none;
		}
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 600;
		line-height: 1.24;
		margin-top: 30px;
		color: $primary-color;
	}

	img {
		border-radius: 4px;
		margin-bottom: 8px;
	}

	h1 { font-size: 24px }
	h2 { font-size: 24px }
	h3 { font-size: 22px }
	h4 { font-size: 20px }
	h5 { font-size: 18px }
	h6 { font-size: 17px }

	ul, ol {
		padding-left: 12px;
	}

	ol {
		list-style: none;
		counter-reset: custom-counter; /* Initialize a custom counter */

		li {
			counter-increment: custom-counter;
			list-style: none;
			position: relative;

			&::before {
				content: counter(custom-counter) ". "; 
				font-weight: bold;
				color: #D1222A;
				margin-right: 8px;
			}
		} 
	}

	ul {
		list-style: none;

		li {
			position: relative;
			padding-left: 20px;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 9px;
				left: 0;
				width: 8px;
				height: 8px;
				background-color: #D1222A;
				border-radius: 50%;
			}
		}
	}

	ol {
		list-style: decimal;
	}

	li:not(:last-child) {
		margin-bottom: 5px;
	}

	ul[style*="list-style-type: square"] {
		position: relative;
		margin-left: 12px;
		
		li {
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}

	table {
		width: 100%;

		img {
			border-radius: 4px;
		}

		td, th {
			padding: 10px;
		}
	}

	:first-child {
		margin-top: 0 !important;
	}

	blockquote {
		background-color: $primary-color;
		font-size: 20px;
		font-weight: 500;
		padding: 20px 24px;
		border-radius: 16px;
		margin-bottom: 16px;
		color: $white-color;
		display: flex;
		gap: 20px;
		align-items: center;

		&::before {
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			background-repeat: no-repeat;
			background-size: 30px;
			background-position: 50% 50%;
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzBweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJNMTIgMTdWMTEiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PC9wYXRoPgogICAgPGNpcmNsZSBjeD0iMSIgY3k9IjEiIHI9IjEiIHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIC0xIDExIDkpIiBmaWxsPSIjZmZmIj48L2NpcmNsZT4KICAgIDxwYXRoIGQ9Ik03IDMuMzM3ODJDOC40NzA4NyAyLjQ4Njk3IDEwLjE3ODYgMiAxMiAyQzE3LjUyMjggMiAyMiA2LjQ3NzE1IDIyIDEyQzIyIDE3LjUyMjggMTcuNTIyOCAyMiAxMiAyMkM2LjQ3NzE1IDIyIDIgMTcuNTIyOCAyIDEyQzIgMTAuMTc4NiAyLjQ4Njk3IDguNDcwODcgMy4zMzc4MiA3IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiPjwvcGF0aD4KPC9zdmc+");
		}

		* {
			text-align: left;
		}

		:first-child {
			flex: 1 1 0%;
		}

		p {
			margin: 0;
		}

		a {
			color: $orange-color;
			text-decoration: underline;

			&:hover {
				color: $orange-color;
				text-decoration: none;
			}
		}
	}
}

.page-entry-content {
	p,ol,ul,table,iframe,blockquote,video,h1,h2,h3,h4,h5,h6 {
		margin-bottom: 20px;
	}

	:last-child {
		margin-bottom: 0 !important;
	}
}

.green-headings {
	h2 {
		color: $primary-color;
		background-color: $primary-color-light;
		padding: 16px 20px;
		border-radius: 16px;
		line-height: 130%;
		text-align: center;
	}
}

.wp-block-table {
	table {
		td, th {
			vertical-align: middle !important;
		}
	}
}

table.table-border {
	border: 1px solid #000;
	border-collapse: collapse;

	td, th {
		border: 1px solid #000;
		vertical-align: middle !important;
		text-align: center;
		word-break: break-word;
	}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
	border-radius: 16px;
	overflow: hidden;
    background: #000; /* Optional: background color */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact-map {
    border-radius: 24px;
}

.leaflet-popup-content {
	font-size: 16px !important;
	font-weight: 500;
}
.leaflet-control-attribution {
	display: none !important;
}

.entrance {
	position: absolute;
	z-index: 98;
	left: 0;
	bottom: 0;
	background-color: #fff;
	padding: 16px;
	border-radius: 0 16px 0 0;
}

.paragraph-check-options {
	display: inline-flex;
	gap: 8px;
	margin-right: 8px;
	vertical-align: middle;

	& > span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border: 1px solid $medium-gray-color;
		border-radius: 4px;
		user-select: none;
		cursor: pointer;
		font-size: 20px;
		font-weight: 500;
		color: $gray-color;
		transition: all 0.2s ease-out;

		&:hover,
		&.active {
			border-color: $primary-color;
			background-color: $primary-color;
			color: #fff;
		}

		&:active {
			transform: scale(1.15);
		}
	}
}

.match-definitions-wrap {
	.definition {
		position: relative;
	}

	.placeholder:empty {
		border: 2px dashed $medium-gray-color;
	}
	
	.words:empty {
		display: none;
	}

	.word {
		cursor: grab;
	}
	
	.placeholder.correct {
		border-color: $primary-color;
		color: $primary-color;
		background-color: $lime-green;
	}
	
	.placeholder.incorrect {
		border-color: red;
		background-color: #f7d4d4;
	}
}

ol.found-words-list {
	list-style: decimal;
	padding-left: 20px;
	width: 33%;
	list-style-position: inside;
}

.word-grid {
	border: 1px solid $medium-gray-color;
}
.words-row {
	display: flex;
	width: 100%;
}

.letter {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	font-weight: 500;
	font-size: 17px;
	border: 0.5px solid $medium-gray-color;
	cursor: pointer;
	user-select: none;
	position: relative;
	text-transform: uppercase;

	.left-index,
	.top-index {
		position: absolute;
		font-size: 14px;
		color: $medium-gray-color;
	}

	.left-index {
		top: 50%;
		transform: translateY(-50%);
		right: calc(100% + 6px);
	}

	.top-index {
		left: 50%;
		transform: translateX(-50%);
		bottom: calc(100% + 4px);
	}
}

.letter.selected {
	background-color: $medium-gray-color;
}

.letter.found {
	background-color: $primary-color;
	color: $white-color;
}


// match using arrows game
.match-arrows-game {
	.ma-container {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	
	.ma-column {
		width: 35%;
		display: flex;
		flex-direction: column;
		gap: 12px;

		&.left {
			width: 26%;
		}

		&.right {
			width: 50%;
		}
	}
	
	.ma-item {
		padding: 16px 20px;
		background-color: $light-gray-color;
		cursor: pointer;
		font-size: 15px;
		font-weight: 600;
		border-radius: 8px;
		user-select: none;

		&.selected {
			background-color: $medium-gray-color;
		}

		&.connected,
		&.success {
			background-color: $orange-color;
		}

		&.error {
			background-color: #F00001;
			color: $white-color;
		}
	}
	
	.ma-arrows {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
	
	line {
		stroke: black;
		stroke-width: 2;
	}
}

.crono-game-wrap {

	.crono-placeholder {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100px;
		border-radius: 4px;
		background-color: $white-color;

		&:before {
			content: attr(data-id);
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			font-size: 30px;
			font-weight: 700;
			color: $medium-gray-color;
			transform: translate(-50%, -50%);
		}

		&:empty {
			padding: 20px;
			border: 2px dashed $medium-gray-color;
			background-color: $light-gray-color;
		}

		&.ready {
			pointer-events: none;
			user-select: none;
		}

		.item {
			position: relative;
			z-index: 3;
		}
	}

	.container {
		display: flex;
		gap: 20px;
	}
	
	.column {
		width: 200px;
		border: 1px solid #ccc;
		padding: 10px;
	}

	.item {
		padding: 10px;
		background-color: #fff;
		cursor: grab;
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
	}
	
	.crono-placeholder .item {
		margin: 0;
		padding: 0;
		background-color: #fff;
	}

	.crono-mixed-items {
		&:empty {
			display: none;
		}

		.item {
			width: calc(25% - 20px);
		}
	}

	.sortable-ghost {
		opacity: 1;
	}

	.sortable-chosen {
		opacity: 0.3 !important;
	}
	
	.success {
		background-color: #d4edda;
	}
	
	.error {
		background-color: #f8d7da;
	}
}

.responsive-video iframe {
	width: 100%;
    aspect-ratio: 16 / 9; /* or 1.77 for more precision */
    height: auto;
    border: 0; /* Optional: removes border */
	border-radius: 16px;
}

.spot-correct-list {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		position: relative;
		cursor: pointer;
		user-select: none;
		letter-spacing: 1px;
		padding: 12px 28px;
		border-radius: 4px;
		margin-bottom: 6px;
		background-color: $white-color;
		border: 1px solid $medium-gray-color;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 10px;
			margin-top: -4px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $medium-gray-color;
			transition: all 0.2s ease-out;
		}

		&:hover {
			background-color: $primary-color;
			border-color: $primary-color;
			color: $white-color;

			&:before {
				background-color: $orange-color;
			}
		}

		&.selected {
			font-weight: 600;
			background-color: $light-gray-color;

			&:before {
				background-color: $primary-color;
			}
		}
	}
}

.split-variants {
	span.variant-btn {
		display: inline-block;
		padding: 4px 8px;
		border-radius: 4px;
		background-color: $orange-color;
		cursor: pointer;
		line-height: 1;
		font-weight: 500;
		transition: all 0.2s ease-out;
		border: 1px solid transparent;

		&:hover {
			background-color: $orange-color;
			border-color: $dark-color;
		}

		&.selected {
			background-color: $lime-green;
			color: $white-color;
		}

		&.error {
			background-color: $red-color;
			color: $white-color;
		}

		&.success {
			background-color: $primary-color;
			color: $white-color;
		}
	}
}

.spot-correct-wrap {
	li.correct {
		background-color: $lime-green;
		color: $primary-color;
		border-color: $primary-color;
		font-weight: 600;

		&:before {
			background-color: $primary-color;
		}
	}

	li.wrong {
		color: $dark-color;
		background-color: rgba(#F00001, 0.12);
		border-color: rgba(#F00001, 0.2);
	}
}

.no-click {
	pointer-events: none;
	user-select: none;
}

.curiosity-img {
	display: inline-block;
	transition: all 0.3s ease-out;

	&:hover {
		transform: scale(1.1);
	}
}

.book-module {
	border: 2px solid transparent;
	transition: $transition;

	& img {
		transition: $transition;
	}

	&:hover {
		color: $dark-color;
		border-color: $orange-color;

		& img {
			opacity: 0.95;
			transform: scale(1.02);
		}
	}
}

.custom-checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	font-size: 15px;
	user-select: none;

	input[type="checkbox"] {
		display: none;
	}

	.checkbox-mark {
		width: 24px;
		height: 24px;
		border: 2px solid $medium-gray-color;
		border-radius: 4px;
		position: relative;
		transition: background-color 0.2s ease;

		&::after {
			content: "";
			position: absolute;
			width: 6px;
			height: 12px;
			border: solid white;
			border-width: 0 2px 2px 0;
			top: 3px;
			left: 7px;
			transform: rotate(45deg);
			display: none;
		}
	 }

	input[type="checkbox"]:checked + .checkbox-mark {
		background-color: $orange-color;
		border-color: $orange-color;
	}

	&.green-checkbox input[type="checkbox"]:checked + .checkbox-mark {
		background-color: #7BA97D;
		border-color: transparent;
	}

	&.orange-checkbox input[type="checkbox"]:checked + .checkbox-mark {
		background-color: $orange-color;
		border-color: transparent;
	}

	&.red-checkbox input[type="checkbox"]:checked + .checkbox-mark {
		background-color: #E18067;
		border-color: transparent;
	}

	input[type="checkbox"]:checked + .checkbox-mark::after {
		display: block;
	}
}

.rounded-images {
	img {
		border-radius: 8px;
	}
}

.select-one-content {
	[class*="wp-image-"] {
		display: inline-block;
		margin: 20px 0 0 0;
		transition: $transition;

		&:hover {
			transform: scale(1.05);
		}
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 700;
		font-size: 20px;
	}
}

.table-borders {
	table,
	table th,
	table td {
		border: 1px solid $medium-gray-color;
	}
}

table {
	&.border {
		border: 1px solid $medium-gray-color;

		th,
		td {
			border: 1px solid $medium-gray-color;
		}
	}

	&.cells-border {
		th, td {
			border: 1px solid $medium-gray-color;
		}
	}
	
	&.table-spacing {
		th, td {
			padding: 12px;
		}
	}
}

.tcs-content {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.variant-item {
	transition: $transition;

	.selected,
	.selected:hover {
		background-color: $primary-color-light;
		color: $primary-color;
	} 
}

.book-sum {
	.the-arrow {
		transition: all 0.2s ease-out;

	}

	&.open {
		border-color: $primary-color;

		.the-arrow {
			transform: rotate(-180deg);
		}

		.book-sum-index {
			background-color: $primary-color;
			color: $white-color
		}
	}
}

.module-sum-item {
	.module-sum-arrow {
		transition: all 0.2s ease-out;

	}

	&.open {
		color: $primary-color;
		border-color: $primary-color;

		.module-sum-arrow {
			transform: rotate(-180deg);
		}
	}
}

.mit-target {
    border: 2px dashed #d9d9d9;
    background-color: #f3f4f7;

	&.ready {
		padding: 0;
		border: 0;

		.mit-element {
			pointer-events: none;
			background-color: $orange-color;
			border-color: transparent;
			text-align: center;
			min-height: 65px;
		}
	}
}

.numbers-item {
	transition: $transition;

	&:hover {
		background-color: $medium-gray-color
	}

	&.correct.selected {
		background-color: $lime-green;
		color: $primary-color;
		border-color: $primary-color;
	}

	&.error {
		border-color: transparent;
		background-color: lighten(#F00001, 35);
	}

	&:active {
		transform: scale(0.95);
	}
}

.curiosity-content {
	position: relative;

	&:before {
		display: none;
		position: absolute;
		top: 100%;
		left: 35px;
		content: "";
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid $gray-color;
	}
}

.curiosity-image {
	border: 2px solid transparent;

	&.active {
		border-color: $orange-color;
	}
}

.axa-row {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: -9px;
		right: -2px;
		width: 0; 
		height: 0; 
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid #000;
	}
}

.axa-label {
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		top: -19px;
		left: 50%;
		width: 2px;
		height: 16px;
		background-color: #000;
	}
}

.axa-placeholder {
	&.ready {
		border-color: transparent;
	}
}

.ra-wrap {
	.success {
		background-color: $primary-color-light;
		border-color: $primary-color
	}
}

.add-plus-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 4px;
	margin-right: 6px;
	cursor: pointer;
	user-select: none;
	border: 2px solid $medium-gray-color;

	&.active {
		border-color: $orange-color;
		background-color: $orange-color;
		color: $white-color;
	}
}

.splited-text {
	strong {
		font-weight: inherit !important;
	}
}

.resore-text-options {
	display: inline-flex;
	gap: 6px;
	margin: 0 2px;

	span {
		display: inline-block;
		padding: 3px 4px;
		line-height: 1;
		border-radius: 4px;
		cursor: pointer;
		user-select: none;
		transition: $transition;
		background-color: $orange-color;
		border: 1px solid $orange-color;

		&:hover {
			background-color: $orange-color;
			color: $dark-color;
			border-color: $dark-color;
		}

		&.wrong {
			background-color: lightcoral;
			border-color: transparent;
		}

		&.success {
			background-color: $lime-green;
			border-color: $primary-color;
			color: $dark-color
		}
	}
}

.dit-target {
	.success {
		background-color: $primary-color-light;
	}

	.wrong {
		background-color: #E18067;
	}
}

.pyramid {
	width: 0;
	height: 0;
	border-left: 220px solid transparent;
	border-right: 220px solid transparent;
	border-bottom: 440px solid $red-color;
	margin: 0 auto;
}

.pyramid-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


.pyramid-overlay {
	padding-bottom: 10px;
	padding-left: 10px;

	.pyramid-overlay-placeholder {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 8px; 
		min-height: 42px;
		width: 100%;
		max-width: 360px;
		border-radius: 8px;
		background-color: rgba(255,255,255, 1); 

		&:empty {
			border: 2px dashed $medium-gray-color;
		}

		&:nth-child(1) {
			max-width: 184px;
		}

		&:nth-child(2) {
			max-width: 230px;
		}

		&:nth-child(3) {
			max-width: 280px;
		}

		&:nth-child(4) {
			max-width: 330px;
		}

		.pyramid-text-item {
			position: relative;
			z-index: 3;
			line-height: 1;
			padding: 0;
			background-color: $white-color;
		}
	}
}

.pyramid-overlay-placeholder::before {
    content: attr(data-index);
    display: inline-block;
    font-size: 20px;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	color: $medium-gray-color;
	transform: translate(-50%, -50%);
}


.tf-wrap {
	table td.success {
		background-color: $primary-color-light;
	}

	table td.wrong {
		background-color: $light-red-color;
	}

	.tf-inline-btn {
		&.true-btn {
			&.correct {
				border-color: $primary-color;
				background-color: $primary-color-light;
			}
		}

		&.false-btn {
			&.correct {
				border-color: $red-color;
				background-color: $light-red-color;
			}
		}
	}
}

.paragraph-cards-options {
	display: inline-flex;
	gap: 8px;
	margin-right: 8px;
	vertical-align: sub;
}

.add-cards-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background-color: $light-gray-color;
	border: 2px solid $medium-gray-color;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	-webkit-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;

	&:hover {
		transform: scale(1.07);
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 17px;
		background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIxLjU4MjEgNS41NDI4OUMyMS45NzI2IDUuOTMzNDIgMjEuOTcyNiA2LjU2NjU4IDIxLjU4MjEgNi45NTcxMUwxMC4yNTI2IDE4LjI4NjdDOS44NjQ1MiAxOC42NzQ3IDkuMjM2MjcgMTguNjc3NSA4Ljg0NDc1IDE4LjI5M0wyLjI5OTI5IDExLjg2NDRDMS45MDUyNyAxMS40Nzc0IDEuODk5NTYgMTAuODQ0MyAyLjI4NjU1IDEwLjQ1MDNDMi42NzM1NCAxMC4wNTYyIDMuMzA2NjggMTAuMDUwNSAzLjcwMDcxIDEwLjQzNzVMOS41MzkxMSAxNi4xNzE3TDIwLjE2NzkgNS41NDI4OUMyMC41NTg0IDUuMTUyMzcgMjEuMTkxNiA1LjE1MjM3IDIxLjU4MjEgNS41NDI4OVoiIGZpbGw9IiNmZmYiLz4NCjwvc3ZnPg==");
	}

	&.add-cards-btn-green {
		background-color: $primary-color-light;
		border-color: $primary-color;
	}

	&.add-cards-btn-yellow {
		background-color: lighten($orange-color, 30);
		border-color: $orange-color;
	}

	&.add-cards-btn-red {
		background-color: $light-red-color;
		border-color: $red-color;
	}

	&.active {
		&:before {
			opacity: 1;
		}

		&.add-cards-btn-green {
			background-color: $primary-color;
		}
	
		&.add-cards-btn-yellow {
			background-color: $orange-color;
		}
	
		&.add-cards-btn-red {
			background-color: $red-color;
		}
	}
}

.special-headings {
	h1,h2 {
		font-size: 24px;
		font-weight: 500 !important;
		padding: 16px 20px;
		border-radius: 16px;
		line-height: 130%;
		color: $primary-color;
		background-color: $primary-color-light;
	}
}

.style-content {
	a {
		font-weight: 500;
		color: $primary-color;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.wp-block-image,
.wp-block-table {
	margin-top: 25px;
	margin-bottom: 25px;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.content-clearfix {
	p:after {
		content: '';
		display: none;
		clear: both;
	}
}

.agenda-table {
	border: 1px solid $orange-color;

	th, td {
		padding: 12px;
		border: 1px solid $orange-color;
	}
}

.paragraph-exclamation-options,
.paragraph-exclamation-interogation-options {
	display: inline-flex;
	gap: 4px;
	margin-right: 8px;

	.add-exclamation-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		font-weight: 600;
		background-color: $light-red-color;
		border: 2px solid transparent;
		cursor: pointer;
		filter: grayscale(1);
		transition: transform 0.1s ease-out;

		&:hover {
			transform: scale(1.07);
			filter: grayscale(0);
		}

		&.active {
			filter: grayscale(0);
			border-color: $red-color;
		}
	}

	.add-exclamation-interogation-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		font-weight: 600;
		background-color: $orange-color;
		border: 2px solid transparent;
		cursor: pointer;
		filter: grayscale(1);
		transition: transform 0.1s ease-out;

		&:hover {
			transform: scale(1.07);
			filter: grayscale(0);
		}

		&.active {
			filter: grayscale(0);
			border-color: $orange-color;
		}
	}
}

.hexagon-shape {
	width: 100%; /* Adjust size here */
	display: block;
	margin: 0 auto;
}

.hexagon-textarea {
	width: 360px;
	height: 240px;
	border: 2px solid transparent;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	padding: 16px;
	max-height: 290px;
	background-color: rgba(255,255,255, 0.3);

	&:focus {
		outline: none;
		border-color: $white-color;
	}

	&::placeholder {
		color: $dark-color;
		opacity: 0.7;
		letter-spacing: 1px;
	}
}

.pc-game-wrap {
	max-width: 520px;
	margin: 50px auto;
}

.fancybox__content>.f-button.is-close-btn {
	--f-button-border-radius: 50%;
    --f-button-color: #fff;
    --f-button-hover-color: #fff;
    --f-button-outline-color: #000;
    --f-button-bg: rgba(0, 0, 0, 0.6);
    --f-button-active-bg: rgba(0, 0, 0, 0.6);
    --f-button-hover-bg: rgba(0, 0, 0, 0.6);
    --f-button-svg-width: 18px;
    --f-button-svg-height: 18px;
    --f-button-svg-filter: none;
    top: 8px;
    right: 8px;
}

.hunted-word {
	display: inline-block;
	cursor: pointer;
	position: relative;
	border-bottom: 2px dashed transparent;
	transition: all 0.15s ease-out;

	&:hover {
		transform: scale(1.05);
	}

	&.discovered {
		font-weight: 600;
		pointer-events: none;
		user-select: none;
		border-bottom: 2px dashed $orange-color;
	}
}
  
.hunted-word .coin {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	pointer-events: none;
	animation: rise-and-fade 1s ease-out forwards;
}

@keyframes rise-and-fade {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -70px);
	}
}

.words-hunt-stats {
	position: sticky;
	z-index: 9;
	top: -40px;
	font-size: 14px;
	background-color: $orange-color;
	border-radius: 12px;
	padding: 16px 20px;
	margin-bottom: 12px;
	display: none;

	&.active {
		display: block;
	}
}

.bwt-wrap {
	& > div:nth-child(1) .bwt-col {
		background-color: $ligh-yellow-color;
	}
	& > div:nth-child(2) .bwt-col {
		background-color: $orange-color;
	}
	& > div:nth-child(3) .bwt-col {
		background-color: $primary-color-medium;
	}
	& > div:nth-child(4) .bwt-col {
		background-color: $medium-gray-color;
	}
}

.four-options-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 22px;
	height: 22px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	border: 1px solid $medium-gray-color;
	background-color: $light-gray-color;
	transition: all 0.2s ease-out;

	&:hover,
	&.active {
		background-color: $primary-color-light;
		border-color: $primary-color;
		transform: scale(1.1);
	}
}

.flexible-content-section {
	table, tr, td {
		height: auto !important;
	}
}

.table-stripped {
	tr:nth-child(odd) {
		background-color: lighten($color: $orange-color, $amount: 23);
	}
}

.pagination-wrapper {
	display: flex;
	gap: 12px;
	padding: 24px;
	align-items: center;
	justify-content: center;

	.theme-pagination-btn {
		line-height: 1;
		display: inline-flex;
		gap: 6px;
		padding: 14px 30px;
		color: $primary-color;
		font-weight: 500;
		border-radius: 8px;
		border: 2px solid $primary-color;

		&:hover {
			background-color: $primary-color;
			color: $white-color;
		}

		svg {
			transition: transform 0.2s ease-out;
		}

		&.tp-button-left {
			&:hover {
				svg {
					transform: translateX(-5px);
				}
			}
		}

		&.tp-button-right {
			background-color: $primary-color;
			color: $white-color;

			&:hover {
				background-color: $primary-color;
				color: $white-color;

				svg {
					transform: rotate(180deg) translateX(-5px);
				}
			}
		}
	}
}

.rotate180 {
	transform: rotate(180deg);
}

.tcs-heading {
	a {
		color: $orange-color;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom-color: $orange-color;
		}
	}
}

.spot-correct-wrap {
	iframe {
		margin-bottom: 0!important;
	}
}

.top-placeholder {
	// &.ready {
	// 	background-color: transparent;
	// 	border-color: transparent;
	// }
}

.top-placeholder-inner-number {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $primary-color;
	width: 40px;
	height: 40px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 50%;
	margin: 0 auto 10px auto;
	border: 2px solid $orange-color;
	background-color: $white-color;
}

// css styles for primar
.manual-primar {}

// css styles for gimnaziu
.manual-gimnaziu {}

// css styles for liceu
.manual-liceu {}

.last-no-margin {
	:last-child {
		margin-bottom: 0 !important;
	}
}

.option-item-wrap {
	.option-item-feedback {
		display: none;
	}

	&.active {
		.option-item {
			color: $primary-color;
			border-color: $primary-color;
		}

		.option-item-feedback {
			display: block;
		}
	}
}

.dit-elements {
	.dit-element {
		max-width: 48%;
	}
}

.custom-dropdown-element {
	position: relative;

	&.resolved {
		.custom-dropdown-element-label {
			pointer-events: none;
		}
	}

	.custom-dropdown-element-label {
		cursor: pointer;
		user-select: none;
		font-weight: bold;
		color: $orange-color;
	}
	
	.custom-dropdown-element-options {
		position: absolute;
		z-index: 9;
		top: 100%;
		left: 0;
		background-color: $white-color;
		border: 1px solid $medium-gray-color;
		border-radius: 4px;
		display: none;
		min-width: 200px;
		width: fit-content;
		max-width: 245px;
		max-height: 274px;
		overflow-y: auto;
	}

	&.active {
		.custom-dropdown-element-options {
			display: block;
		}
	}

	.custom-dropdown-element-option {
		cursor: pointer;
		user-select: none;
		font-weight: bold;
		padding: 6px 12px;
		display: block;
		transition: all 0.15s ease-out;

		&.has-error {
			background-color: $light-red-color;
			color: $red-color;
		}

		&:hover {
			background-color: $light-gray-color;
		}
	}
}

.ship-placeholder {
	&.resolved {
		background-color: rgba(255, 255, 255, 0.8);
		border-color: transparent;
		user-select: none;
		pointer-events: none;
	}

	.ship-game-object-image {
		border: 0;
		background-color: transparent;
	}

	.ship-game-object-image:hover {
		background-color: transparent;
	}
}

.fill-the-bawl-placeholder {
	background: url(../images/bawl.webp) no-repeat center center;
	background-size: contain;
	min-height: 374px;
}


// zdravi
.reaction-item {
	transition: all 0.15s ease-out;

	&.active {
		background-color: $primary-color-light;
		color: $primary-color;
		border-color: $primary-color;
	}

	&:hover {
		transform: scale(1.03);
	}

	&:active {
		transform: scale(0.98);
	}
}

.custom-background {
	padding: 12px;
	border-radius: 8px;
}

.book-3 {
	.subject-num {
		color: var(--secondary-color);
		background-color: var(--secondary-color-light);
	}

	.book-themes .btn {
		background-color: var(--secondary-color);
		border-color: var(--secondary-color);

		&:hover {
			color: var(--secondary-color);
			background-color: $white-color;
			border-color: var(--secondary-color);
		}
	}

	.footer-separator {
		background-color: #0091AE;
	}

	.step-box {
		background-color: var(--secondary-color-light);

		&:hover::before {
			background-color: var(--secondary-color-medium);
		}

		h3 {
			color: var(--secondary-color);
		}

		.step-icon {
			background-color: var(--secondary-color-medium);
		}

		&:hover .step-icon {
			background-color: $white-color;
		}
	}

	.phase-bar {
		background-color: #C3E6F4;
	}
}

// zdx

.content-function {
	&.active[data-correct="true"] {
		background-color: $primary-color-light;
		color: $primary-color;
		border-color: $primary-color;
	}

	&.active[data-correct="false"] {
		background-color: $light-red-color;
		border-color: $red-color;
	}
}

@media (max-width: 1350px) {
	.footer-menu-wrap  ul {
		flex-wrap: wrap;
	}

	.footer-menu-wrap ul li a {
		padding-left: 10px;
		padding-right: 10px;
	}

	.main-menu-wrap ul li a {
		font-size: 15px;
		padding-left: 14px;
		padding-right: 14px;
	}
}

// tailwind lg min width 1024px
@media (max-width: 1023px) {
	.voc a:before {
		display: none;
	}
}
@media (max-width: 991px) {
	.footer-menu-wrap  ul li{
		width: 100%;
	}

	.step-box  .decor {
		display: none;
	}
}

@media (max-width: 767px) { 

}

@media (max-width: 600px) {
	#wpadminbar {
		display: none !important;
	}
}