// vars 
$text-color: #2D2D2D;
$medium-dark: #444444;
$gray-color: rgba(45,45,45, 0.5);
$medium-gray: #D8D8D8;
$blue-color: #153376;
$faded-blue: #EDEFF3;
$brown-color: #AF9862;
$btn-hover: darken($color: #153376, $amount: 5);
$brown-hover: darken($color: #AF9862, $amount: 5);
$white-color: #fff;
$faded-white: #F8F9FF;
$transition: all 0.3s ease;

* {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
    box-sizing: border-box;
	margin-top: 0 !important;
}

body {
	color: $text-color;
	background-color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
}

html, body {
	padding: 0;
	margin: 0;
}

main {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	text-decoration: none;
	background-color: transparent;
	transition: $transition;
}

.btn {
	display: inline-flex;
	align-items: center;
	padding: 16px 32px;
	background-color: $blue-color;
	color: $white-color;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	justify-content: center;
	border: 1px solid transparent;

	&.btn-small {
		padding: 11px 32px;
	}

	& svg {
		display: inline-block;
		margin-left: 8px;
		transition: all 0.3s ease-out;
	}

	&:hover,
	&:focus {
		background-color: $btn-hover;
		color: $white-color;
	}

	&:hover svg {
		transform: translateX(6px);
	}

	&.line-btn {
		background-color: transparent;
		border-color: $blue-color;
		color: $blue-color;

		&:hover {
			border-color: transparent;
			color: $white-color;
			background-color: $blue-color;
		}
	}

	&.line-btn-white {
		border-color: $faded-white;
		color: $faded-white;

		&:hover {
			border-color: transparent;
			color: $white-color;
			background-color: $blue-color;
		}
	}

	&.btn-white {
		background-color: $faded-white;
		color: $blue-color;
		border-bottom-width: 2px;
		border-color: $blue-color;

		&:hover {
			background-color: $white-color;
		}
	}
}

b,
strong {
	font-weight: bold;
}

img {
	border-style: none;
    max-width: 100%;
    max-height: 100%;
	display: inline-block !important;
}

embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

a {
	color: #4169e1;
}

a:visited {
	color: #800080;
}

a:hover,
a:focus,
a:active {
	color: #191970;
}

a:focus {
	outline: none;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
}

.widget {
	margin: 0 0 30px;
}

.widget select {
	max-width: 100%;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

.alignleft {
	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}
