// print styles

$green-color: #0C544F;
$text-color: #111;

.site-header {
    display: none;
}

.phase-bar,
.tcs-heading {
    padding: 0;
}

.tcs-heading h2,
.theme-heading  {
    color: $text-color;
}

.theme-heading {
    padding: 0;
}