// add css here

.text-content {

    ul, p, h1, h2, h3, h4, h5 .h6 {
        margin-bottom: 25px;
    }

    ul {
        list-style: disc;
        padding-left: 25px;
    }

    a {
        color: $green-color;
        font-weight: 700;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
