@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #00665E;
    --primary-color-medium: #C7E1D2;
    --primary-color-light: #E6F2EB;
}

.book-2 {
    --primary-color: #00A2C3;
    --primary-color-medium: #C3E6F4;
    --primary-color-light: #E1F0F6;
}

.book-3 {
    --primary-color: #00629A;
    --primary-color-medium: #b5b5e9;
    --primary-color-light: #73C7E3;
    --secondary-color: #29B473;
    --secondary-color-medium: #C7E1D2;
    --secondary-color-light: #E6F2EB;
}
